.site-logo img {
  width: 260px;
}

#header .search-block-form {
  float: left;
  background: #e3e3e3;
  display: block;
  height: 37px;
  padding: 5px 5px 5px 5px;
  width: 344px;
  position: relative;
  margin-top: 30px;
  margin-left: 35px;
}

#header .search-block-form .form-item .form-search {
  width: 300px;
  padding: 2px 3px 3px 5px;
  border: none;
  font-style: italic;
  background-color: #d5d5d5;
  color: #fff;
}

#header .search-block-form:before {
  content: none !important;
}

#header .search-block-form .button {
  padding: 0px;
  text-indent: unset;
  z-index: 1;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  left: -4px;
}

#header .container {
  padding-bottom: 40px;
}

#main .container {
  background: none;
  box-shadow: none;
  overflow: hidden;
}

.sidebar .block-page-title-block {
  border: none;
  padding: 0px;
  width: 350px;
  /*overflow: hidden;*/
}

.sidebar .block-page-title-block img {
  background-color: #eed;
  box-shadow: 5px 5px  rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px  rgba(0,0,0,0.1);
  -webkit-box-shadow: 5px 5px  rgba(0,0,0,0.1);
  -o-box-shadow: 5px 5px  rgba(0,0,0,0.1);
  border-radius: 50%;
  right: 125px;
  bottom: 90px;
  position: relative;
}

aside.sidebar-first {
  padding-left: 0px;
}

h1.page-title {
  background-image: linear-gradient(to right, white 70%, transparent);
  text-align: center;
  width: 310px;
  top: 10px;
  left: 100px;
  position: relative;
  z-index: 1;
  color: #6a368c;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 48px;
}

#main .content {
  margin-top: 100px;
}