body {
  background-image:
    url('../images/tribal.svg'),
    linear-gradient(170deg, white 15%, #a183bb 50%, white 85%);
  background-repeat: no-repeat;
  background-position: 380px 200px, center;
}
