#header nav {
  float: right;
  margin-top: 35px;
}

#header ul.menu {
  margin-right: 3px;
}

#header ul.menu li {
  float: left;
  margin-left: 20px;
}

#header ul.menu a {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #6a368c;
  font-weight: bold;
  font-size: 16px;
}

#main-menu {
  margin-bottom: 0px;
}

#main-menu .container {
  background: none;
  box-shadow: none;
}

#main-menu .container ul.menu li {
  border: none;
}

#main-menu .container ul.menu li a {
  padding: 0px;
  padding-left: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #575757;
}

#main-menu .container ul.menu li .is-active {
  background: none;
  color: #6a368c;
}

#main-menu .container ul.menu li a:hover {
  background: none;
  color: #6a368c;
}

#main-menu .container ul.menu li:first-child > a {
  padding-left: 0px;
}

#main-menu .container ul.menu li.menu-item--active-trail > a {
  background: none;
}