@media (max-width: 1199px) and (min-width: 992px) {
  .contact-message-feedback-form label {
    min-width: 175px;
  }
}

@media (max-width: 991px) {
  body {
    background-image: linear-gradient(145deg, white 15%, #a183bb 50%, white 85%);
  }

  div.page > section#main {
    background-size: contain;
  }

  .sidebar-first {
    display: block;
  }

  #block-kontakttitelbild img {
    display: none;
  }

  h1.page-title {
    top: unset;
    left: unset;
  }

  #main .content {
    margin-top: unset;
  }

  .contact-message-feedback-form label {
    min-width: 198px;
  }
}

@media (max-width: 767px) {
  #main .contact-message-feedback-form .form-text,
  #main .contact-message-feedback-form .form-email {
    min-width: 230px;
    width: unset;
  }
}

@media (max-width: 565px) {
  body {
    background-image: linear-gradient(120deg, white 15%, #a183bb 50%, white 85%);
  }

  #header nav {
    float: left;
  }

  #header ul.menu {
    margin-left: 0px;
  }

  #header ul.menu li:first-child {
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  #header .block-system-branding-block {
    margin-bottom: 0px;
  }
}